---
import NavLink from '@components/NavLink.astro';
---

<header class="container my-8 text-lg font-semibold">
  <nav class="flex justify-between">
    <NavLink href="/" text="JZD" title="Home" class="sm:text-2xl" />
    <div class="flex justify-around">
      <NavLink href="/about" text="About" />
      <NavLink href="/projects" text="Projects" />
      <NavLink href="/#contact" text="Contact" />
    </div>
  </nav>
</header>
